@import 'tailwindcss';
@source "../../../packages/ui/src";

@theme {
    --color-primary: var(--color-orange-600);
    --color-primary-foreground: var(--color-white);
    --color-primary-hover: var(--color-orange-700);
    --color-primary-light: var(--color-orange-100);
    --font-serif: 'Fraunces', serif;
}
